@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Merriweather:ital,wght@1,300&family=Playfair+Display:wght@800&family=Solway:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow: hidden; */
}
/* :root{
    --color-primary:#fffec5;
    --color-1: #7E2E84;
    --color-2: #15616D;
    --color-3: #DB9065;
    --color-4: #596157;
} */
body{
    background-color: #3d3d3c;
    width: 100%; 
    height: 100vh;
}
.design{
    height: 100%;
    width: 15rem;
}
.main_heading{
    width: 26%;
    height: 95px;
    background-color: #3d3d3c;
    margin-top: -38rem;
    padding-left: 19rem;
}
.heading_content{
    width: 244px;
    height: 84px;
}
.main_heading h1{
    background: linear-gradient(to right, #ff9c9c,#ff31d2,#00f7ff);
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icons{
    height: 282px;
    width: 97px;
    margin-top: 5rem;
    padding-left: 78rem;
}
.icon_content{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #e7e7e2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}
.icon_content:hover{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 6px 6px  #919090;
    transition-duration: 0.3s;
}
.icon_content span{
    font-size: 35px;
    color: #0e0d0d;
}
.first_set{
    position: absolute;
    top: 0rem;
    left: 0rem;
    padding: 0rem;
    margin: 0rem;
    width: 22%;
    height: 100%;
}
.first_set li{
    list-style: none;
    height: 110px;
    width: 110px;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    background-color: #272626;
    transform: rotate(45deg);
}
.first_set li.diamond1{
    top: 11rem;
    left: 1.5rem;
}
.first_set li.diamond2{
    top: 21rem;
    left: 1.5rem;
}
.first_set li.diamond3{
    top: 30.9rem;
    left: 1.5rem;
}
.first_set li.diamond3 div{
    height: 110px;
    width: 110px;
    background: linear-gradient(to right, rgb(0, 154, 165),rgb(1, 122, 112),#012f36
    );
}
.first_set li.diamond1 div{
    height: 110px;
    width: 110px;
    background: linear-gradient(to right,#b3160e,#970000,#550602
    );
}
.first_set li.diamond5{
    top: 6rem;
    left: 6.6rem;
}
.first_set li.diamond6{
    top: 16rem;
    left: 6.6rem;
}
.first_set li.diamond7{
    top: 25.93rem;
    left: 6.6rem;
}
.first_set li.diamond5 div{
    width: 110px;
    height: 110px;
    background: linear-gradient(to right,#f1135d,#a8004c,#75003b
    );
}
.first_set li.diamond7 div{
    width: 110px;
    height: 110px; 
    background: linear-gradient(to right,#983628,#581908,#2E0E02
    );
}
.info{
    width: 63rem;
    height: 29%;
    margin-top: -9rem;
    padding-left: 20rem;
    font-family: Anybody;
    font-weight: bold;
    color: rgb(195, 227, 255);
    font-size: 1rem;
    letter-spacing: 1.5px;
}
.name{
    font-size: 66px;
    background: linear-gradient(to right, rgb(155, 252, 255), #07bfc5);
    font-family: 'Playfair Display', serif;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}
.infos span{
    animation-duration: 1s;
    animation-name: change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes change{
    from{
        color:rgb(195, 227, 255);
    }
    to{
        color: #ebd300;
    }
}
.home_pic{
    position: absolute;
    top: 8rem;
    left: 64rem;
    height: 28rem;
}
.home_pic_this{
    height: 26rem;
}
.home_pic_this:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1.5s;
    margin-left: -4rem;
}
