@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,wght@1,300&family=PT+Serif:wght@700&family=Playfair+Display:wght@800&family=Rubik:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url(./background.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.main_heading{
    height: 95px;
}
.logo{
    width: 334px;
    background: linear-gradient(to right, #ff9c9c,#ff31d2,#00f7ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 58px;
    padding: 26px 100px;
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    cursor: context-menu;
}
.icons{
    /* height: 62px; */
    /* margin-top: -84px; */
    /* padding-left: 595px; */
    margin: -82px 0 0 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_content{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    transition: transform 0.5s;
}
.icon_content span{
    font-size: 37px;
    color: #0e0d0d;
}
.icon_content:hover{
    /* width: 60px;
    height: 60px;
    border-radius: 50%; */
    /* box-shadow: 5px 5px  #808080; */
    transform: rotate(360deg);
    background-color: #fffec5;
}
.home_pic_this{
    height: 20rem;
    margin: 100px 0 0 70px;
}
.home_pic_this{
    animation-duration: 1.7s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes bounce{
    from{
        margin-top: 100px;
    }
    to{
        margin-top: 60px;
    }
}
.name{
    font-size: 70px;
    background: linear-gradient(to right, #7bf2f7,#07bfc5, rgb(255, 209, 58), rgb(255, 153, 0));
    font-family: PT serif;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}
.infos span{
    animation-duration: 1s;
    animation-name: change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes change{
    from{
        color:rgb(235, 230, 230);
    }
    to{
        /* color: #009fb8; */
        color: #f7833f;;
    }
}
.info{
    /* width: 72rem; */
    /* height: 29%; */
    margin: -355px 0 0 440px;
    font-family: Rubik;
    font-weight: bold;
    color: rgb(235, 230, 230);
    font-size: 18.5px;
    letter-spacing: 1.5px;
}
@media screen and (max-width: 1075px){
    .info{
        font-size: 15px;
        margin: -270px 0 0 330px;
    }
    .name{
        font-size: 62px;
    }
    .home_pic_this{
        height: 18rem;
        margin: 100px 0 0 50px;
    }
    .logo{
        font-size: 50px;
    }
    .icon_content span{
        font-size: 35px;
    }
    .icon_content{
        width: 45px;
        height: 45px;
    }
    .icons{
        margin: -95px 0px 0px 401px;
    }
}
@media screen and (max-width: 980px){
    .home_pic_this{
        height: 17rem;
        margin: 100px 0 0 30px;
    }
    .info{
        font-size: 13px;
        margin: -275px 0 0 333px;
    }
    .name{
        font-size: 60px;
    }
}
@media screen and (max-width: 934px){
    .icon_content{
        margin: 1.5rem;
    }
    .name{
        font-size: 55px;
    }
    .logo{
        font-size: 45px;
        width: 300px;
    }
}
@media screen and (max-width: 782px){
    .icon_content{
        margin: 1rem;
    }
    .icons{
        margin: -82px 0px 0px 330px;
    }
    .info{
        margin: -211px 0 0 95px;
    }
    .home_pic_this{
        height: 15rem;
        margin: 31px 0 0 264px;
    }
    @keyframes bounce{
        from{
            margin-top: 31px;
        }
        to{
            margin-top: 0px;
        }
    }
    .logo{
        font-size: 43px;
        padding: 26px 70px;
        width: 270px;
    }
}
@media screen and (max-width: 656px){
    .icon_content{
        margin: 0.5rem;
        width: 40px;
        height: 40px;
    }
    .icons{
        margin: -82px 0px 0px 280px;
    }
    .icon_content span{
        font-size: 30px;
    }
    .logo{
        font-size: 40px;
        padding: 20px 70px;
    }
    .name{
        font-size: 52px;
    }
    .info{
        font-size: 13px;
        margin: -231px 0 0 65px;
    }
    .home_pic_this{
        margin: 31px 0 0 207px;
    }
}
@media screen and (max-width: 598px){
    .info{
        margin: -225px 0 0 30px
    }
}
@media screen and (max-width: 576px){
    .logo{
        width:180px;
        padding: 20px 10px;
    }
    .home_pic_this{
        height: 14rem;
        margin: 31px 0 0 174px;
    }
    .icons{
        margin: -82px 0px 0px 160px;
    }
    .name{
        font-size: 49px;
    }
}
@media screen and (max-width:522px){
    .home_pic_this{
        margin: 31px 0 0 138px;
    }
    .info{
        font-size: 12px;
        margin: -211px 0 0 15px
    }
    .name{
        font-size: 45px;
    }
    .logo{
        font-size: 35px;
        width:160px;
    }
}
@media screen and (max-width: 482px){
    .icon_content{
        width: 35px;
        height: 35px;
    }
    .icon_content span{
        font-size: 25px;
    }
    .logo{
        font-size: 33px;
    }
    .info{
        margin: -223px 0 0 0px;
        text-align: center;
    }
    .home_pic_this{
        height: 12rem;
        margin: 40px 0 0 120px;
    }
    @keyframes bounce{
        from{
            margin-top: 40px;
        }
        to{
            margin-top: 10px;
        }
    }
}
@media screen and (max-width: 387px){
    .info{
        text-align: center;
        margin: -235px 0 0 2px
    }
    .logo{
        width: 150px;
    }
    .icons{
        margin: -75px 0px 0px 150px;
    }
    .icon_content{
        margin: 0.2rem;
        width: 30px;
        height: 30px;
    }
    .icon_content span{
        font-size: 25px;
    }
    .name{
        font-size: 40px;
    }
    .home_pic_this{
        margin: 40px 0 0 90px;
    }
}
@media screen and (max-width: 320px){
    .logo{
        font-size: 30px;
    }
    .icon_content{
        width: 25px;
        height: 25px;
    }
    .icon_content span{
        font-size: 22px;
    }
    .home_pic_this{
        margin: 40px 0 0 40px;
    } 
}