@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,wght@1,300&family=PT+Serif:wght@700&family=Playfair+Display:wght@800&family=Rubik:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work{
    width:100%;
    height: 145vh;
    background: linear-gradient(to bottom, rgb(36, 36, 36),rgb(41, 41, 41), rgb(68, 67, 67), rgb(80, 79, 79));
}
#back{
    font-size: 33px;
    margin-top: 10px;
    padding-left: 25px;
    color: rgb(230, 227, 227)
}
.title{
    font-size: 55px;
    color: rgb(229, 243, 255);
    text-shadow: 4px 4px 3px #31edf3;
    font-family: PT serif;
    /* position: relative; */
    /* top: 0px; */
    margin-top: -40px;
    text-align: center;
}
.android .android_title{
    width: 390px;
    font-size: 35px;
    font-family: Merriweather;
    color: rgb(255, 204, 35);
    text-decoration: underline;
    /* position: relative; */
    margin-top: 50px;
    margin-left: 80px;
}
.imge{
    position: relative;
    overflow: hidden;
    width: 173px;
    display: block;
    justify-content: center;
    align-items: center;
}
.imge img{
    width: 170px;
    height: 170px;
    border-radius: 20%;
}
.android_work{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    padding-left: 125px;
    margin-top: 20px;
}
.extra_a{
    width: 225px;
    font-size: 32px;
    color: rgb(255, 230, 1);
    font-weight: bold;
    padding-bottom: 20px;
    font-family: Merriweather;
    position: relative;
    left: 150px;
    top: 30px;
}
.other_a{
    position: relative;
    top: 20px;
}
.other_a ul li{
    display: inline-block;
    width: 530px;
}
.other_a ul li p{
    width: 228px;
    padding-top: 2px;
    font-size: 24px;
    color: rgb(1, 255, 242);
    font-family: Rubik;
    margin-left: 120px;
    margin-top: 10px;
}
.other_a ul li img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 480px;
    margin-top: -35px;
    cursor: pointer;
    transition: 0.3s;
}
.app_info{
    width: 170px;
    height: 0px;
    border-radius: 20%;
    background: linear-gradient(rgba(80, 80, 80, 0.7),rgb(243, 35, 139));
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.4s;
}
.app_info h2{
    font-weight: bold;
    margin-bottom: 20px;
    color: snow;
    text-shadow: 2.5px 2.5px black;
}
.app_info p{
    margin-top: -18px;
    font-weight: 700;
    font-size: 17px;
}
.app_info a{
    margin-bottom: 20px;
    color: snow;
    text-decoration: none;
    font-size: 33px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 43.5px;
    text-align: center;
    background: rgb(29, 29, 29);
}
.imge:hover .app_info{
    height: 173px;
}
.other_a ul li img:hover{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.webd .webd_title{
    width: 297px;
    font-size: 35px;
    font-family: Merriweather;
    color: rgb(255, 215, 35);
    text-decoration: underline;
    /* position: relative; */
    margin-top: 45px;
    margin-left: 80px;
}
.webd_work{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    padding-left: 400px;
    margin-top: 20px;
}
.extra_w{
    width: fit-content;
}
.extra_w p{
    width: 238px;
    font-size: 31px;
    color: rgb(1, 255, 242);
    font-weight: bold;
    padding-bottom: 20px;
    font-family: Merriweather;
    position: relative;
    left: 150px;
    top: 30px;
}
.extra_w img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 450px;
    margin-top: -35px;
    /* cursor: pointer; */
    transition: 0.3s;
}
.extra_w img:hover{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
@media screen and (max-width:1075px) {
    .title{
        margin-left: 450px;
    }
    .work{
        height: 180vh;
    }
    .android_work{
        padding-left: 95px;
    }
    .webd_work{
        padding-left: 300px;
    }
}
@media screen and (max-width:1063px) {
    .work{
        height: 200vh;
    }
    .title{
        font-size: 53px;
        margin-left: 420px;
    }
}
@media screen and (max-width:961px) {
    .title{
        margin-left: 390px;
    }
    .android_work{
        padding-left: 80px;
    }
    .webd_work{
        padding-left: 200px;
    }
}
@media screen and (max-width:877px) {
    .title{
        margin-left: 330px;
    }
}
@media screen and (max-width:850px) {
    .title{
        margin-left: 300px;
    }
    .android_work{
        padding-left: 50px;
    }
    .webd_work{
        padding-left: 150px;
    }
}
@media screen and (max-width:795px) {
    .title{
        margin-left: 270px;
    }
}
@media screen and (max-width:769px) {
    .title{
        margin-left: 250px;
    }
    .work{
        height: 230vh;
    }
}
@media screen and (max-width:693px) {
    .title{
        margin-left: 200px;
    }
    .webd_work{
        padding-left: 120px;
    }
}
@media screen and (max-width:615px) {
    .title{
        margin-left: 170px;
    }
}
@media screen and (max-width:589px) {
    .android_work{
        padding-left: 80px;
    }
}
@media screen and (max-width:559px) {
    .title{
        margin-left: 145px;
    }
    .webd_work{
        padding-left: 80px;
    }
}
@media screen and (max-width:529px) {
    .title{
        margin-left: 140px;
    }
    .other_a ul li img{
        margin-left: 380px;
    }
    .extra_w img{
        margin-left: 400px;
    }
    .work{
        width: fit-content;
    }
}
@media screen and (max-width:439px) {
    .android_work{
        grid-template-columns: 1fr;
    }
    .webd_work{
        grid-template-columns: 1fr;
    }
    .work{
        height: 330vh;
    }
    .android_work{
        padding-left: 180px;
    }
    .webd_work{
        padding-left: 180px;
    }
}